@import "tailwindcss";

@theme {
  --color-brand: theme("colors.sky.800");
  --color-brand-dark: theme("colors.sky.900");
  --font-brand: var(--font-ibm-plex-mono), var(--font-mono);
  --default-font-family: var(--font-ibm-plex-mono), var(--font-mono);
}

body {
  @apply text-sm;
}

/**
 * article (markdown)
 */

article {
  /* note: h1 has no top margin. h2 has an underline thing */
  /* prettier-ignore */
  h1 { @apply mt-0  text-3xl font-bold                 } /* prettier-ignore */
  h2 { @apply mt-10 text-3xl font-bold                 } /* prettier-ignore */
  h3 { @apply mt-5  text-xl  font-semibold sm:text-2xl } /* prettier-ignore */
  h4 { @apply mt-2  text-lg  font-semibold sm:text-xl  } /* prettier-ignore */
  h2 { @apply border-b border-neutral-200 pb-1        } /* prettier-ignore */
  h1, h2, h3, h4 { @apply text-brand leading-tight text-balance }

  a {
    @apply border-b border-dotted font-bold text-sky-600 hover:border-solid hover:brightness-80;
  }

  /* beware the nested <p> (like in <li>) */
  /* prettier-ignore */
  > p, ul, ol, pre, table {
    @apply mt-4;
  }

  ul,
  ol {
    ::marker {
      @apply text-gray-400;
    }
  }
  ul {
    @apply list-disc pl-6;
    li {
      @apply pl-4;
    }
  }
  ol {
    @apply list-decimal pl-9;
    li {
      @apply pl-1;
    }
  }

  pre {
    @apply w-full overflow-x-auto border-l-6 border-l-sky-500 px-2 py-1 text-xs leading-normal sm:text-sm;
    code {
      @apply bg-transparent p-0;
    }
  }

  code {
    @apply font-brand bg-neutral-100 px-1;
  }

  table {
    @apply w-full border-collapse overflow-x-auto text-xs sm:text-sm;

    th,
    td {
      @apply border border-neutral-300 px-2 py-1 text-left;
    }
    th {
      @apply text-brand bg-neutral-100 font-bold;
    }
  }

  label {
    @apply mt-4 block text-sm font-bold;
  }

  input {
    @apply border border-neutral-300 px-2 py-1;
  }
}

/**
 * custom classes
 */

.section-anchor {
  @apply hidden;
}
